
body,html {
    background: #303F9F;
	color: #FAFAFA;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    text-align: center;  
}

@keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

main > .intro {
    font-family: "Caveat", cursive;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden;
    border-right: 3px solid; /* Ajoute un curseur clignotant */
    animation: typing 3.5s steps(30, end), blink 0.75s step-end infinite; /* Animation typing et blink */
    display: inline-block; /* Permet d'animer le width sans changer la position */
}

main > .tagline {
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    margin-bottom: 20px;

}

main > .gif {
    margin-top: 20px;
}

a {
    color: #FAFAFA;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
    text-decoration: none;
  }

.icons-social i {
	font-size: 2.5em;
}
